{% load blog tagging_tags inlines oembed_tags pygment_tags comments %}

<div class="post clearfix">
  <div class="date">{{ object.pub_date|date:"M d" }}</div>
  <h2><a href="{{ object.content_object.get_absolute_url }}">{{ object.title }}</a></h2>
  <p class="teaser">{{ object.content_object.tease|safe }}</p>
  <div class="body">
  {% oembed %}
    {{ object.description|render_inlines|safe }}
  {% endoembed %}
  </div>
  {% if object.content_object.allow_comments %}
  {% get_comment_count for object.content_object as comment_count %}
  <div class="comment_count"><a href="{{ object.content_object.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
  {% endif %}
</div>
<!-- post -->